.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 1;
}

.card {
    width: 50%;
    position: absolute;
    top: 5em;
    left: 25%;
    z-index: 2;
}

.table thead tr td {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.table tbody tr td {
    font-size: 10px;
    text-align: center;
}