<div class="main">
</div>
<div class="card box-shadow">
    <div class="card-header">
        <span>
            <span class="f12 text-underline">{{dataList.attribute.card_meta.header}}</span>
            <fa-icon [icon]="faTimes" class="icon float-end cursor-pointer" (click)="close(false)"></fa-icon>
        </span>
    </div>
    <div class="card-body" *ngIf="dataList.attribute.title == 'total_onboard'">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Subtitle</td>
                        <td>Total Users</td>
                        <td>Total Onboarded Users</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{dataList.id}}</td>
                        <td>{{dataList.attribute.card_meta.header}}</td>
                        <td>{{dataList.attribute.card_meta.subtitle}}</td>
                        <td>{{dataList.attribute.card_meta.body_h1}}</td>
                        <td>{{dataList.attribute.card_meta.body_h4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body" *ngIf="dataList.attribute.title == 'stress_index'">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Subtitle</td>
                        <td>Total Users Negative</td>
                        <td>Total Users Positive</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{dataList.id}}</td>
                        <td>{{dataList.attribute.card_meta.header}}</td>
                        <td>{{dataList.attribute.card_meta.subtitle}}</td>
                        <td>{{dataList.attribute.card_meta.body_chart_users_negative}}</td>
                        <td>{{dataList.attribute.card_meta.body_chart_users_positive}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body" *ngIf="dataList.attribute.title == 'happiness_index'">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Subtitle</td>
                        <td>Total Users Negative</td>
                        <td>Total Users Positive</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{dataList.id}}</td>
                        <td>{{dataList.attribute.card_meta.header}}</td>
                        <td>{{dataList.attribute.card_meta.subtitle}}</td>
                        <td>{{dataList.attribute.card_meta.body_chart_users_negative}}</td>
                        <td>{{dataList.attribute.card_meta.body_chart_users_positive}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body" *ngIf="dataList.attribute.title == 'engagement_index'">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Subtitle</td>
                        <td>Total Users Negative</td>
                        <td>Total Users Positive</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{dataList.id}}</td>
                        <td>{{dataList.attribute.card_meta.header}}</td>
                        <td>{{dataList.attribute.card_meta.subtitle}}</td>
                        <td>{{dataList.attribute.card_meta.body_chart_users_negative}}</td>
                        <td>{{dataList.attribute.card_meta.body_chart_users_positive}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body" *ngIf="dataList.attribute.title == 'total_active'">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Subtitle</td>
                        <td>Total Users</td>
                        <td>Total Active Users</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{dataList.id}}</td>
                        <td>{{dataList.attribute.card_meta.header}}</td>
                        <td>{{dataList.attribute.card_meta.subtitle}}</td>
                        <td>{{dataList.attribute.card_meta.body_h1}}</td>
                        <td>{{dataList.attribute.card_meta.body_h4}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>