<div class="d-flex flex-wrap justify-content-around">
    <div class="card mx-2 my-2" *ngFor="let item of dataArr">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-start">
                        <div class="d-block">
                            <div class="f14 bold">{{ item.attribute.card_meta.header }}</div>
                            <div class="f12">{{ item.attribute.card_meta.subtitle }}</div>
                        </div>
                    </div>
                    <div class="float-end">
                        <span class="btn btn-warning btn-sm bold" (click)="showDetails(true, item.id)">View</span>
                        <span class="ms-3 cursor-disable" (click)="hideCard()">
                            <fa-icon [icon]="faEllipsisH"></fa-icon>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                    <div class="my-3">
                        <div class="card">

                            <div class="card-body mx-auto my-5" *ngIf="item.attribute.title == 'total_onboard'">
                                <div class="d-inline">
                                    <img class="user-icon" src="/assets/icon/svg/user.svg" alt="">
                                </div>
                                <div class="d-inline ms-1">
                                    <span class="body_h1 align-bottom">{{ item.attribute.card_meta.body_h1 }}</span>
                                </div>
                                <div class="d-inline ms-1">
                                    <span class="body_h4 font-turcoise align-bottom">(+{{ item.attribute.card_meta.body_h4 }})</span>
                                </div>
                                <div class="d-inline ms-1">
                                    <span class="body_h4 align-bottom">{{ item.attribute.card_meta.body_h3_text }}</span>
                                </div>
                            </div>

                            <div class="card-body mx-auto" *ngIf="item.attribute.title == 'stress_index'">
                                <ngx-charts-advanced-pie-chart [results]="chartDataStress" [view]="view" [scheme]="colorSchemePositive" [gradient]="gradient">
                                </ngx-charts-advanced-pie-chart>
                            </div>

                            <div class="card-body mx-auto" *ngIf="item.attribute.title == 'happiness_index'">
                                <ngx-charts-advanced-pie-chart [results]="chartDataHappiness" [view]="view" [scheme]="colorSchemeNegative" [gradient]="gradient">
                                </ngx-charts-advanced-pie-chart>
                            </div>

                            <div class="card-body mx-auto" *ngIf="item.attribute.title == 'engagement_index'">
                                <ngx-charts-advanced-pie-chart [results]="chartDataEngagement" [view]="view" [scheme]="colorSchemeNegative" [gradient]="gradient">
                                </ngx-charts-advanced-pie-chart>
                            </div>

                            <div class="card-body mx-auto my-5" *ngIf="item.attribute.title == 'total_active'">
                                <div class="d-inline">
                                    <img class="user-icon" src="/assets/icon/svg/active-user.svg" alt="">
                                </div>
                                <div class="d-inline ms-1">
                                    <span class="body_h1 align-bottom">{{ item.attribute.card_meta.body_h1 }}</span>
                                </div>
                                <div class="d-inline ms-1">
                                    <span class="body_h4 font-turcoise align-bottom">(+{{ item.attribute.card_meta.body_h4 }})</span>
                                </div>
                                <div class="d-inline ms-1">
                                    <span class="body_h4 align-bottom">{{ item.attribute.card_meta.body_h3_text }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="float-start">
                    <span class="f10">Period: 25 DEC 2020-3 JAN 2021</span>
                    <span class="ms-1 cursor-disable">
                        <fa-icon [icon]="faPencilAlt" class="f10"></fa-icon>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-card-details *ngIf="detailsPage" [data]="detailData" (emitClose)="closeDetails($event)"></app-card-details>