.card {
    width: 27%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
}

.row .col-lg-12 div .card {
    width: 100%;
    border: none !important;
    box-shadow: none;
}

.row .col-lg-12 div .card .card-body {
    padding: 10px 0;
}

.user-icon {
    height: 50px;
    width: 50px;
    padding: 15px;
    background-color: #E2D96D;
    border-radius: 5px;
}

.body_h1 {
    font-size: 35px;
    font-weight: bold;
}

.body_h4 {
    font-size: 16px;
    font-weight: 600;
}