/* You can add global styles to this file, and also import other style files */
.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.lighter {
    font-weight: lighter !important;
}

.bold {
    font-weight: bold !important;
}

.bolder {
    font-weight: bolder !important;
}

.font-turcoise {
    color: #5ABD8C !important;
}

.font-grey {
    color: #A5A5A5 !important;
}

.box-shadow {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 25%);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-disable {
    cursor: not-allowed;
}

.mbnone {
    margin-bottom: 0 !important;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}